StackExchangeClient/src/conf/xml-resources/web-service-references/marketplace/wsdl/localhost_8081/MarketplaceWS/marketplace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.com/" name="marketplace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.com/" schemaLocation="http://localhost:8081/MarketplaceWS/marketplace?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getLike">
<part name="parameters" element="tns:getLike"/>
</message>
<message name="getLikeResponse">
<part name="parameters" element="tns:getLikeResponse"/>
</message>
<message name="getAllProduct">
<part name="parameters" element="tns:getAllProduct"/>
</message>
<message name="getAllProductResponse">
<part name="parameters" element="tns:getAllProductResponse"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="getTotalPurchase">
<part name="parameters" element="tns:getTotalPurchase"/>
</message>
<message name="getTotalPurchaseResponse">
<part name="parameters" element="tns:getTotalPurchaseResponse"/>
</message>
<message name="getLikeStatus">
<part name="parameters" element="tns:getLikeStatus"/>
</message>
<message name="getLikeStatusResponse">
<part name="parameters" element="tns:getLikeStatusResponse"/>
</message>
<portType name="marketplace">
<operation name="hello">
<input wsam:Action="http://marketplace.com/marketplace/helloRequest" message="tns:hello"/>
<output wsam:Action="http://marketplace.com/marketplace/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getLike">
<input wsam:Action="http://marketplace.com/marketplace/getLikeRequest" message="tns:getLike"/>
<output wsam:Action="http://marketplace.com/marketplace/getLikeResponse" message="tns:getLikeResponse"/>
</operation>
<operation name="getAllProduct">
<input wsam:Action="http://marketplace.com/marketplace/getAllProductRequest" message="tns:getAllProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/getAllProductResponse" message="tns:getAllProductResponse"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://marketplace.com/marketplace/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="getTotalPurchase">
<input wsam:Action="http://marketplace.com/marketplace/getTotalPurchaseRequest" message="tns:getTotalPurchase"/>
<output wsam:Action="http://marketplace.com/marketplace/getTotalPurchaseResponse" message="tns:getTotalPurchaseResponse"/>
</operation>
<operation name="getLikeStatus">
<input wsam:Action="http://marketplace.com/marketplace/getLikeStatusRequest" message="tns:getLikeStatus"/>
<output wsam:Action="http://marketplace.com/marketplace/getLikeStatusResponse" message="tns:getLikeStatusResponse"/>
</operation>
</portType>
<binding name="marketplacePortBinding" type="tns:marketplace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLikeStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="marketplace">
<port name="marketplacePort" binding="tns:marketplacePortBinding">
<soap:address location="http://localhost:8081/MarketplaceWS/marketplace"/>
</port>
</service>
</definitions>